<!-- Top Banner -->
<div class="top-banner">
  <p>FREE SHIPPING ON ORDERS OVER $100</p>
</div>

<mat-toolbar class="header" color="primary">
  <div class="header-content">
    <div class="nav-brand">
      <a routerLink="/" class="logo-link">
        <img src="https://www.lencii.com/static/media/lenciLogo.153e28daaa59e7c410e7.png" alt="Lencii" class="logo-image" />
      </a>
    </div>
    
    <div class="nav-menu" [class.active]="isMenuOpen()">
      <a routerLink="/" class="nav-link" mat-button>HOME</a>
      <a routerLink="/products" class="nav-link" mat-button>SHOP</a>
      <a href="#collections" class="nav-link" mat-button>COLLECTIONS</a>
      <a href="#about" class="nav-link" mat-button>ABOUT</a>
      <a href="#contact" class="nav-link" mat-button>CONTACT</a>
    </div>
    
    <div class="nav-actions">
      <button mat-icon-button class="nav-icon">
        <mat-icon>search</mat-icon>
      </button>
      
      <button mat-icon-button class="nav-icon" [matMenuTriggerFor]="userMenu">
        <mat-icon>person</mat-icon>
      </button>
      
      <button mat-icon-button class="nav-icon cart-btn" [matBadge]="cartItemCount()" 
              [matBadgeHidden]="cartItemCount() === 0" matBadgeColor="accent">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      
      <button mat-icon-button class="mobile-menu-toggle" (click)="toggleMenu()">
        <mat-icon>{{ isMenuOpen() ? 'close' : 'menu' }}</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item *ngIf="!isLoggedIn()" (click)="navigateTo('/login')">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
  <button mat-menu-item *ngIf="!isLoggedIn()" (click)="navigateTo('/login')">
    <mat-icon>person_add</mat-icon>
    <span>Register</span>
  </button>
  <mat-divider *ngIf="isLoggedIn()"></mat-divider>
  <button mat-menu-item *ngIf="isLoggedIn()" (click)="navigateTo('/account')">
    <mat-icon>account_circle</mat-icon>
    <span>My Account</span>
  </button>
  <button mat-menu-item *ngIf="isLoggedIn()">
    <mat-icon>shopping_bag</mat-icon>
    <span>Orders</span>
  </button>
  <button mat-menu-item *ngIf="isLoggedIn()">
    <mat-icon>favorite</mat-icon>
    <span>Wishlist</span>
  </button>
  <mat-divider *ngIf="isLoggedIn()"></mat-divider>
  <button mat-menu-item *ngIf="isLoggedIn()" (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>